<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET" />
 <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
 <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
 <!-- social apps offered as share buttons (Android 11+ package visibility) -->
 <queries>
  <package android:name="jp.naver.line.android"/><package android:name="com.facebook.katana"/><package android:name="com.instagram.android"/>
  <package android:name="com.twitter.android"/><package android:name="com.facebook.orca"/><package android:name="com.whatsapp"/><package android:name="org.telegram.messenger"/>
  <intent><action android:name="android.intent.action.SEND"/><data android:mimeType="*/*"/></intent>
 </queries>
 <application android:theme="@style/AppTheme" android:label="FoodWell" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:usesCleartextTraffic="false">
  <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="${admobAppId}"/>
  <!-- download the barcode scanner UI at install time instead of on first use -->
  <meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:value="barcode_ui"/>
  <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
   <!-- friend challenge invites: foodwell://join?c=CODE (docs/join.html forwards web links here) -->
   <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="foodwell" android:host="join"/></intent-filter>
  </activity>
  <receiver android:name=".TodayWidget" android:exported="false" android:label="FoodWell วันนี้">
   <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
   <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_today_info"/>
  </receiver>
  <receiver android:name=".ReminderReceiver" android:exported="false" />
  <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.share" android:exported="false" android:grantUriPermissions="true">
   <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/share_paths"/>
  </provider>
  <receiver android:name=".ReminderBootReceiver" android:exported="true">
   <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/><action android:name="android.intent.action.MY_PACKAGE_REPLACED"/></intent-filter>
  </receiver>
 </application>
</manifest>
